<%- include('layouts/main-layout.ejs') %>

<% block styles %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
<% endblock %>

<% block content %>
    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% prods.forEach(function(product) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">Hi</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to cart</button>
                        </div>
                    </article>
                <% }); %>
            </div>
        <% } else { %>
            <h1>No Products</h1>
        <% } %>
    </main>
<% endblock %>

